{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 mx-1 h2">Checkout and Send money</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">

              <div style="display:flex; align-items: center; justify-content:center;">              
              	<div id="my_camera"></div>
              </div>

                <div style="display:flex; align-items: center; justify-content:center;">
                  <input type=button value="Configure" onClick="configure()" class="btn btn-warning float-left ml-2">
                  <input type=button value="Take Snapshot" onClick="take_snapshot()" class="btn btn-primary float-left">
                   <input class="btn btn-success float-left" type="button" id="startProcessing" value="Verify">
                </div>

                <div style="display:flex; align-items: center; justify-content:center; ">
                  <div id="results"></div>
                </div>
                
                <div style="display:flex; align-items: center; justify-content:center; ">
                  <input type="file" name="uploadImage" id="uploadImage" style="visibility: hidden"/>
                </div>

                <div style="display:flex; align-items: center; justify-content:center; flex-direction: column;">
                 
                  <div class="md-form mb-5">
                    <br>
                    <br>
                    <span id='customer_name' name='customer_name'>{{form}}</span>
                  </div> 
                    <br>
                  <div>
                   <tr>
                    <td colspan="4">Order Total</td>&nbsp
                    <td><b>Rs {{ order.get_total }}</b></td>
                  </tr>
                  </div>

                  <form method="POST" class="card-body">
                        {% csrf_token %}
                      <hr class="mb-4">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Proceed to Checkout</button>
                  </form>
                </div>
              </div>

            </div>

            {% comment %} <div class="col-md-4 mb-4">
              {% include "order_snippet.html" %}
        </div> {% endcomment %}

      </div>

    </div>
  </main>

{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/webcam.min.js' %}"></script>


<script>
 
 // Configure a few settings and attach camera
 function configure(){
  Webcam.set({
   width: 320,
   height: 240,
   image_format: 'jpeg',
   jpeg_quality: 90
  });
  Webcam.attach( '#my_camera' );
 }

 // A button for taking snaps
 function take_snapshot() {
  
  // take snapshot and get image data
  Webcam.snap( function(data_uri) {
  
  // display results in page
  document.getElementById('results').innerHTML = '<img src="'+data_uri+'" id="clickedImage">'
  });

  Webcam.reset();
 }
</script>

<script deref src="{% static 'js/face-api.min.js' %}"></script>
<script defer>
  let modelURL = "{% static 'js/models' %}";
</script>
<script deref src="{% static 'js/script.js' %}"></script>

{% endblock extra_scripts %}
